DATABASE_URL=postgresql+psycopg2://postgres:password@localhost:5432/auto_dealer_crm
TEST_DATABASE_URL=postgresql://postgres:password@localhost/auto_dealer_crm_test
SECRET_KEY=your-secret-key-here
FIRST_ADMIN_EMAIL=admin@demo.com
FIRST_ADMIN_PASSWORD=admin123