<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Auto Dealer CRM{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Auto Dealer CRM</h1>
            <nav>

            {% if current_user %}

                <a href="/api/v1/dashboard-page">Dashboard</a>
                <a href="/api/v1/leads-page">Leads</a>
                <a href="/api/v1/leads-page/create">Create Lead</a>
                <a href="/api/v1/appointments-page">Appointments</a>
                <a href="/api/v1/deals-page">Deals</a>
                <a href="/api/v1/logout">Logout</a>

            {% else %}

                <a href="/api/v1/login-page">Login</a>

            {% endif %}

            </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>